# Ignore vim and emacs files
*.swp
*~
html
*.pdf
*.mat
*.png
*.jpeg

# Ignore the database
exps/datasets/
exps/OM4.single_column.COBALT/*.nc
exps/OM4.single_column.COBALT/INPUT/*.nc
exps/OM4.single_column.COBALT/RESTART/*.nc
exps/NWA12.COBALT/
exps/OM4.single_column.COBALT/RESTART/

# Ignore the programs produced
/builds/build/

# Other files to ignore 
# src/MOM6/pkg/GSW-Fortran/test/
